body{
  background-color: thistle;
}
.todos-section{
  font-family: serif;
  display: flex;
  justify-content: center;
}
.input-main{
  display: flex;
  gap: 10px;
  padding-top: 30px;
}
.input-sec{
  padding: 10px;
  border-radius: 5px;
  border: none;
  width:500px
}
.btn{
  border: none;
  border-radius: 5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100px;
}
.btn-add{
  background-color: rgba(20, 20, 187, 0.438);
}